#task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

#task-list li input[type="checkbox"] {
    flex-shrink: 0;
}

#task-list li button {
    background: none;
    border: none;
    cursor: pointer;
}
